@{
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<style>
    .aligned-paragraph {
            /*text-align: center;*/
             margin: 0 auto;
             max-width: 1000px;
             font-family: Arial, sans-serif;
             color: #333;
             padding: 10px; /* Adds padding around the paragraph */
             }
</style>

<div class="text-center" style="padding-top:20px;padding-bottom:20px">
    <h1 class="display-4" >Welcome</h1>
</div>

<div>
    <img src="\Image\lib2.jpg" alt="Italian Trulli" style="max-width: 100%; height: auto;">
</div>
<div>
    <h3>The Anna Library</h3>
    <p class="aligned-paragraph">     The Anna Centenary Library (ACL), a state-of the-art library was inaugurated on September 15, 2010 on the occasion of the 102nd birth anniversary of the former Chief Minister of Tamil Nadu Dr. C N Annadurai popularly called ‘ANNA’. By reason of his great interest towards the books and library, this library is named as ‘Anna Centenary Library’. The foundation stone laid on August 16, 2008, completed in a short span and declared open to the public from 20th September 2010.

The built up area of this centralized air-conditioned library is 3.75 lakh sq. ft., encompasses ground and eight floors. At present, it hosts five lakhs books covering wide range of subjects to serve the information needs of the public, academic and corporate community. Our Library has a Braille Section, Own Books Reading Section, Children Section, Periodicals and Newspapers Section, Tamil books Section, English Books Section and Digital Library. In addition, the library has a Conference Hall that can facilitate 150 members. </p>
</div>